@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
background-color:#000;
font-family: 'poppins' sans-serif;
}

.container-fluid{
    max-width: 1200px;
    height: 100%;
}

.inicio{
    margin: 10px;
    border-color: #ff702a;
}
.titulobarra{
    color: #ff702a;

}
.navbar-toggler-icon{
    background-color: aliceblue;
}

.navbar-nav .nav-link{
color: white;
}

.inicio img{
    height: 10px;
    display: grid;
    margin-left: 50%;

}



.entrada .parrafo1  .boton1{
    display: grid;
    padding-top: 5px;
    margin-left: 30px;
}
.bienvenida img{
    max-width: 30%;
    margin-left: 50%;
    position: absolute;

}
.bienvenida .entrada{
    color: #ff702a;
    max-width: 400px;
    font-size: 80px
    
}

.bienvenida .parrafo1{
 font-size: 30px;
}

.boton1{
    background-color: #f05f40;
    border: 2px solid #f05f40;
    transition:.3s;
    padding: 20px;
    transform: translateY(-15px);
    cursor: pointer;
    margin-left: 5%;
}